// condicionales 
//perimten establecer reglas para validar si se aplica o no esta condicion
//if o else

@mixin condicion ($solores){
    background-color: $colores;

    //declaramos una condicion

    @if $colores == black {
        border: 1px solid black;
    } @else{
        border: 2px solid rgb(0, 0, 0);
        color: peru;
    }

}